.textEditor{
    width: 100%;
    min-height: 8em;
    outline: 1px solid grey;
    padding: none;

   &:focus-visible {
        outline : 2px dotted black;
    }
    p:first-child {
        margin-top:0px
    }
}