.header {
    width: 100%;
    background-color: var(--main-color);
    font-family: var(--title-font);
    font-weight: 500;
    padding: 25px 0px;
    color : var(--background-color);
    gap: 25px;
    & h1 {
        font-weight : 500;
        font-size: 32px;
    }
    &>* {
        max-width: 1240px;
        margin: auto;
        display: flex;
    }
    &__banner {
        display: flex;
        justify-content: space-between;
        &>* {
            width: 50%;
        }
        &__logo {
            top: 10px;
        }
        &__menu {
            display:flex;
            justify-content: space-between;
            font-size : 32px;
            font-weight: 500;
        }

    }
    &__pageTitle{
        font-size: 40px;
        font-weight: 500;
        color : var(--accent-color);
    }
    
    & a {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-decoration-style: wavy;
        color : var(--background-color);
        text-decoration-color: var(--main-color);
        text-underline-offset: 0.5em;
        transition: 0.4s;
        &:hover{
            transition: 0.4s;
            color: var(--accent-color);
            text-decoration-color: var(--yellow);
            -moz-text-decoration-style: wavy;
            text-underline-offset: 0.2em;
        }
        &:hover::before{
            width: 100%;
        }
        &.current {
            color: var(--accent-color);
            text-decoration: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--yellow);
            text-decoration-thickness: 4px;

        }
    }
}