.toolbar {
    display:flex;
    flex-direction: row;
    gap: 20px;
    border:1px solid black;
    margin: 5px;
    padding: 5px;
    width: fit-content;

    button {
        border-radius: 5px;
        padding: 2px 10px;
        border: 1px dotted black;

        .selected {
            border: 2px solid blue;
        }
    }
}